#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Main Menu
Exec=/usr/bin/gnome-pie -o 507
Encoding=UTF-8
Type=Application
Icon=start-here
StartupWMClass=gnome-pie-507
